body {
  position:absolute;
    font-size: 15pt;
    place-content: center;
    align-items: center;
}
form{
  text-align: center;
  background-color:whitesmoke;
  padding: 15px;
  margin:5px 20px 20px 20px;
  position:absolute;
  left:40px;
  width:250px;
  box-shadow: 2px 2px 3x solid floralwhite;
}
img{
  width:150px;
  height:150px;
  border: none;
}
p{
  text-align: center;
}
section,#dropdown,article{
  position: absolute;
  left:150px;
  top:50px;
}
#link{margin-top:70px;
margin-left:170px;
  font-size: 15px;
  display:grid;
  
  font-family: sans-serif;
  background-color: white;
  display:none;
  
}
a{text-decoration: none;
  color:gray;
  font-size: 15px;
  display:grid;
  top:120px;
  
  background-color: white;
}
a:hover{color:white;
  background-color: dodgerblue;
}

#dropdown{
  background-color:white;
  border:none;
  width:90px;
}
h4{color:dodgerblue;
  font-size: 10px;
  font-family:arial;
  font-weight: light;
  margin-left:90px;
}
label{
  color:gray;
}
label,input{margin:10px;
  font-family: verdana;
  font-size: 15px;
}
input{
  border:none;
  padding:5px;
}
p{text-align:center;
  margin-left: 100px;
  color: dodgerblue;
}
#btn{
  background-color:dodgerblue;
  color:white;
  padding:3px;
  width:150px;
  border:none;
  font-size: 11px;
  border-radius:10px;
}
#body{
  display:none;
