body{background:
  url('https://images.unsplash.com/photo-1521459467264-802e2ef3141f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3024&q=80') ;;
opacity:70%;}   
.form-container{border:40px;border-radius:2%;
width:80%;
height:100%;
background-color:white;
text-align:center;
display:scroll;
position:relative;opacity:190%;
margin-left:10%;}
h1{font-family:verdana;font-weight:bold;font-size:190%;padding:10%;}
p{color:black;
font-family:mostardom;
font-size:60%;font-weight:bold;
font-size:30%;}
h2{font-family:san-serif;
font-weight:bold;
font-size:230%;}
button{background-color:red;
border:2px solid red;border:20% solid blue;
width:30%;height:80%;
margin-top:-200%;
color:white;
border-radius:4px;padding:15px;}
button:hover{background-color:green;
  transition:1.5s;}
.button{background-color:white;border:2px solid red;
border-radius:4px;
width:30%;
height:60%;
margin-left:33%;
padding:15px;}
.button:hover{background-color:red;
  transition:1.5s;
  width:60%;
  pointer:cursor;}

.form-container2{background-color:dodgerblue;
overflow:vissible;
width:23%;
height:70%;
padding:45px;
margin-left:35%;
border:2px solid dodgerblue;
margin-top:15%;
margin-bottom:18%;
color:white;}
.form-container3:hover{background-color:red;
  transition:1.s;
  width:60%;}
